@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

  
.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px; 
  text-align: center;
}

.ordenar {
  grid-area: ordenar;
  background-color: #85aedd;
}

.ordenar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: ORDEN;
}

.ordenar-txt{
      font-family: roboto ;
      /* font-size: 15px; */
}

.navbar {
  grid-area: navbar;
  background-color: #afd6af;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.tarjetas {
  grid-area: tarjetas;
  background-color: #d1caca;
}

.paginacion {
  grid-area: paginacion;
  background-color: #f5f5f5;
}

.paginas {
  display: flex;
  justify-content: center;
  /* margin-top: 0; */
}

.footer {
  grid-area: footer;
  background-color: #764fe2;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "navbar"     60px
    "ordenar"    60px
    "tarjetas"   auto
    "paginacion" 50px
    "footer"     60px;
}

/*   TABLE MOBILE */   

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "navbar     ordenar"  50PX
      "navbar     tarjetas" auto
      "navbar paginacion"   50PX
      "footer     paginacion" 50px /
      200px    auto;
  }
  .navbar-2 {
    display: none;
  }
}

/*   DESKTOP */   
@media (min-width: 900px) {
  .grid-container {
    grid-template:
    "navbar  ordenar"  50PX
    "navbar  tarjetas" auto
    "footer  paginacion"   50px /
    200px    auto   ;
  }

}

     /* MOBILE */
@media screen and (max-width: 576px)  {
  .item-3 {
    display: none;
  }
  .navbar-3 {
    display: none;
  }
}
